$black: #17202a;
$black_a05: #17202a80;
$white: #fdfefe;
$white_hover: #edeeee;
$white_a05: rgba(253, 254, 254, 0.5);
$green: #28b463;
$blue: #3498db;

$red: #e74c3c;
$red_bg_soft: #fffdfd;
$red_bg_hard: #f9ebea;

$extra-large-image-size: 4.8rem;
$large-image-size: 4rem;
$medium-image-size: 3.2rem;
$small-image-size: 2.4rem;
$extra-small-image-size: 1.6rem;
