@import '../../../../scss/colors';

.Location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: $oldBurgundy-500;

  &__ZoneButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.8rem;

    &__Button {
      margin: 0.4rem 0.8rem;
    }
  }

  &__CurrentLocation {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      margin-right: 1.2rem;
    }
  }

  & h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3.2rem;
  }

  & h2 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.8rem;
    margin-top: 3.2rem;
    font-size: 2.4rem;
  }

  & h3 {
    margin-top: 0;
    margin-bottom: 1.8rem;
    font-weight: normal;
    text-align: center;
    font-size: 2rem;
  }

  & p {
    color: $red-500;
    text-align: center;
    font-size: 2rem;
  }

  .CrossIcon {
    transform: scale(2.5);
    color: $red-500;
    margin-left: 1.2rem;
  }

  @media screen and (max-width: 768px) {
    padding: 0;

    &__ZoneButtons {
      &__Button {
        margin: 0.4rem 0.8rem;
      }
    }

    h1 {
      margin: 0;
      font-size: 2.4rem;
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      margin-bottom: 2.4rem;
      font-size: 1.6rem;
    }

    p {
      font-size: 1.6rem;
    }
  }
}
