@import '../../../../scss/colors';

.Location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: $oldBurgundy-500;

  .Location__ZoneButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .Location__GooglePlacesAutocomplete {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;

    .Location__GooglePlacesAutocomplete__Component {
      width: 90%;
      margin-right: 1.2rem;
    }

    button {
      margin-left: 1.2rem;
    }
  }

  .Location__CurrentLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  button {
    all: unset;
    background-color: $red-500;
    border-radius: 1.8rem;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    height: 3.6rem;
    margin: 0.6rem;
    padding: 0 2.4rem;
    vertical-align: center;

    &:hover {
      background-color: $red-600;
    }

    &:active {
      background-color: $red-700;
    }

    &:disabled {
      background-color: $red-50;
      border: solid 1px $red-50;
      color: $oldBurgundy-500;
    }
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  h2 {
    font-weight: 400;
    text-align: center;

    &:last-of-type {
      margin-bottom: 0.8rem;
      margin-top: 2.8rem;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 1.8rem;
    font-weight: normal;
    font-family: 'lora';
    text-align: center;
  }

  p {
    color: $red-500;
    text-align: center;
  }

  .CrossIcon {
    transform: scale(2.5);
    color: $red-500;
    margin-left: 1.2rem;
  }

  @media screen and (max-width: 768px) {
    padding: 1.2rem;

    h1 {
      font-size: 2.4rem;
    }

    h2 {
      font-size: 1.8rem;
    }

    h3 {
      font-size: 1.8rem;
    }
  }
}
