@import '../../../../scss/colors';

.Location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: $oldBurgundy-500;

  &__ZoneButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__Button {
      margin: 0.4rem 0.8rem;
    }
  }

  &__CurrentLocation {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      margin-right: 1.2rem;
    }
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  h2 {
    font-weight: 400;
    text-align: center;

    &:last-of-type {
      margin-bottom: 0.8rem;
      margin-top: 2.8rem;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 1.8rem;
    font-weight: normal;
    font-family: 'lora';
    text-align: center;
  }

  p {
    color: $red-500;
    text-align: center;
  }

  .CrossIcon {
    transform: scale(2.5);
    color: $red-500;
    margin-left: 1.2rem;
  }

  @media screen and (max-width: 768px) {
    padding: 0;

    &__ZoneButtons {
      &__Button {
        margin: 0.4rem 0.8rem;
      }
    }

    h1 {
      margin: 1.2rem 0;
      font-size: 2.4rem;
    }

    h2 {
      font-size: 1.8rem;
      &:last-of-type {
        margin-bottom: 0.4rem;
        margin-top: 1.4rem;
      }
    }

    h3 {
      font-size: 1.8rem;
      margin-bottom: 0.8rem;
    }
  }
}
