.Layout {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  max-width: 640px;
}

.Layout__Light {
  background-color: #f5f5f5
}

.Layout__Dark {
  background-color: #C27574;
}
