@import "../../../scss/colors";
.Bio{
  position: absolute;
  display: flex;
  border-radius: 25px;
  height: 65%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  background-color: $white;
  z-index: 3;

  .Bio__button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;

    .Bio__Button__Button {
      display: block;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      border-style: solid;
      font-size: 2.5rem;
      text-align: center;
      color: $white;
      background-color: rgba(23, 32, 42, 0.78);
      &:hover {
        border-color: $white;
        background-color: $gray_hover;
      }
      &:active {
        border-color: $white;
        background-color: $gray;
      }
    }
  }
  .Bio__Name {
    position: absolute;
    top: 0;
    left: 0;
    color: $black;
    padding: 1.6rem 1.6rem 1.6rem 2.2rem;
    margin: 0;
  }

  .Bio__Text {
    position: absolute;
    top: 4.2rem;
    left: 0;
    color: $black;
    padding: 1.6rem 1.6rem 1.6rem 2.2rem;
    margin: 0;
  }
}