@import "../../../../scss/colors";

.withIconButton {
  background-color: $red;
  border: none;
  border-radius: 50%;
  box-shadow:  0 0 10px rgba(0,0,0,0.2);

  &:hover {
    background-color: $red_more_darker;
  }

  &:active {
    background-color: $red_darker;
  }

  &:disabled,
  &:disabled:hover {
    background-color: $red_lightest;
  }

  &.withIconButton__small {
    align-items: center;
    display: flex;
    height: 4.5rem;
    justify-content: center;
    padding: 0.8rem;
    width: 4.5rem;
    color: $white;
  }

  &.withIconButton__medium {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    height: 5.5rem;
    width: 5.5rem;
  }

  &.withIconButton__large {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 7rem;
    width: 7rem;
  }

  .withIconButtonColor {
    color: $white;
  }
}
