@import '../../../scss/colors';

.RestaurantDetails {
  align-items: center;
  background-color: #feeecb;
  background-image: url('./background_light_red.svg');
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: $oldBurgundy-500;
  font-size: 24px;

  & p {
    margin: 3.2rem 0 1.6rem 0;
  }

  & h1 {
    font-size: 3.6rem;
    font-weight: bold;
    margin-top: 0;
  }

  & h2 {
    font-family: 'Lora';
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 1.6rem 0;
  }

  .RestaurantDetails__Pin {
    color: $red_wine_hard;
    font-size: 36px;
  }

  .RestaurantDetails__Details {
    width: 80%;
    padding: 1.2rem;
    .RestaurantDetails__Details__Ratings {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .RestaurantDetails__Details__ContactInfo {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      & h3 {
        font-size: 2rem;
        margin: 0;
        padding: 1.6rem 0 0 0;
        font-weight: 400;
      }

      .Text {
        font-size: 2.8rem;
        font-weight: bold;
        margin: 0;
      }
    }
  }

  .RestaurantDetails__CTAButtons {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 1.6rem;
    width: 576px;
  }

  .IconStyle{
    transform: scale(2.5);
  }
}
