@import '../../../scss/colors';

.RestaurantDetails {
  background-color: $linen-500;
  background-image: url('./background_light_red.svg');
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  padding: 6rem 10% 13rem 6%;
  width: 100%;

  /* total width */
  &::-webkit-scrollbar {
    background-color: $linen-500;
    width: 8px;
  }

  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
    background-color: $linen-500;
    &:hover {
      background-color: $linen-600;
    }
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
    background-color: $oldBurgundy-500;
    border-radius: 8px;
    &:hover {
      background-color: $oldBurgundy-600;
    }
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
    display: none;
  }

  .RestaurantDetails__Title {
    margin: 3.2rem 0 1.6rem 0;
    text-align: center;
  }

  & h1 {
    font-size: 3.6rem;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
  }

  & h2 {
    font-family: 'Lora';
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 1.6rem 0;
    text-align: center;
  }

  &__Carousel {
    &__Picture {
      background-color: $oldBurgundy-500;
      height: 30rem;
      border: 2px solid $linen-500;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__Map {
    height: 20rem;
    width: 80%;
    margin: 0 auto;
  }

  &__Pin {
    color: $red-500;
    font-size: 36px;
  }

  &__Details {
    padding: 0;
    margin-top: 1.8rem;

    .RestaurantDetails__Details__Ratings {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .RestaurantDetails__Details__ContactInfo {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      & h3 {
        font-size: 2rem;
        margin: 0;
        padding: 1.6rem 0 0 0;
        font-weight: 400;
      }

      .Text {
        font-size: 2.8rem;
        font-weight: bold;
        margin: 0;
      }
    }
  }

  &__Wrapper {
    background: linear-gradient(to bottom, transparent 0%, $linen-500 75%);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 50%;
    position: fixed;
    width: 100%;
    max-width: 640px;
    transform: translateX(-50%);

    padding-bottom: 1.6rem;

    &__CTAButtons {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 80%;
    }
  }

  .IconStyle {
    transform: scale(2.5);
  }

  .RatingStyle {
    transform: scale(2.5);
    margin: 1.2rem 1.6rem;
  }

  @media screen and (max-width: 768px) {
    .RestaurantDetails__Details {
      width: 100%;
    }

    &__Wrapper {
      &__CTAButtons {
        width: 96%;
      }
    }
  }
}
