@import '../../../scss/colors';

.RestaurantDetails {
  align-items: center;
  background-color: $linen-500;
  background-image: url('./background_light_red.svg');
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  padding: 0 1.2rem;
  width: 100%;

  .RestaurantDetails__Title {
    margin: 3.2rem 0 1.6rem 0;
    text-align: center;
  }

  & h1 {
    font-size: 3.6rem;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
  }

  & h2 {
    font-family: 'Lora';
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 1.6rem 0;
    text-align: center;
  }

  .RestaurantDetails__Pin {
    color: $red-500;
    font-size: 36px;
  }

  .RestaurantDetails__Details {
    width: 80%;
    padding: 0;
    margin-top: 1.8rem;

    .RestaurantDetails__Details__Ratings {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .RestaurantDetails__Details__ContactInfo {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      & h3 {
        font-size: 2rem;
        margin: 0;
        padding: 1.6rem 0 0 0;
        font-weight: 400;
      }

      .Text {
        font-size: 2.8rem;
        font-weight: bold;
        margin: 0;
      }
    }
  }

  .RestaurantDetails__CTAButtons {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 1.6rem;
    max-width: 576px;
    width: 100%;
    padding: 0 1.2rem;
  }

  .IconStyle{
    transform: scale(2.5);
  }

  .RatingStyle{
    transform: scale(2.5);
    margin: 1.2rem 1.6rem;
  }

  @media screen and (max-width: 768px) {
    .RestaurantDetails__Details {
      width: 100%;
    }
  }
}
