@import "../../styles/main.scss";

.RestaurantDetails {
  align-items: center;
  justify-content: center;
  background-color: $red_700;
  background-image: url("./background_light_red.svg");
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: $white;
  font-size: 24px;

  .RestaurantDetails__Name {
    font-size: 32px;
    font-weight: bold;
  }
}
