@import "../../styles/main.scss";

.Wrapper {
  display: flex;
  position: relative;
  height: 100%;
  width: auto;

  .Wrapper__Image {
    display: block;
    height: 100%;
    width: 100%;
  }

  .Wrapper__Name {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding-left: 1.2rem;
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: $white;
    padding: 1.6rem;
    margin: 0;
    width: 100%;
  }

  .Wrapper__Buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    padding: 0 1.2rem;

    .Wrapper__Buttons__Button {
      display: block;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border: 0;
      background-color: $white_a05;
      color: $black_a05;
      font-weight: 700;
    }
  }
}
