@import '../../../../scss/colors';

.withTextIconButton {
  display: flex;
  flex-direction: column;
  align-items: center;

  .withTextIconButton__Caption {
    color: $red-500;
    margin: 1.2rem 0 0 0;
    text-align: center;
  }
}
