$black: #17202a;
$black_a05: #17202a80;
$gray: rgba(56, 56, 56, 0.5);
$gray_hover: rgba(118, 118, 118, 0.5);
$white: #fdfefe;
$white_hover: #edeeee;
$white_a05: rgba(253, 254, 254, 0.5);
$green: #28b463;
$blue: #3498db;

$red_700: #c27574;
$red_bg_soft: #fffdfd;
$red_bg_hard: #f9ebea;
$red_wine_soft: #c57f7f;
$red_wine_hard: #8b0000;

$extra-large-image-size: 4.8rem;
$large-image-size: 4rem;
$medium-image-size: 3.2rem;
$small-image-size: 2.4rem;
$extra-small-image-size: 1.6rem;

/* Reds */
$red_lightest: #fdeeee;
$red_more_lighter: #f6a19f;
$red_lighter: #f37a78;
$red_light: #f16764;
$red: #ef5350;
$red_dark: #e5504d;
$red_darker: #da4c49;
$red_more_darker: #c44442;
$red_darkest: #983533;

/* Purple */
$purple_lightest: #f2e6fd;
$purple_more_lighter: #dec1fa;
$purple_lighter: #cb9bf6;
$purple_light: #b776f3;
$purple: #a350ef;
$purple_dark: #863ec8;
$purple_darker: #692ca2;
$purple_more_darker: #4c1a7b;
$purple_darkest: #2f0854;

/* blue */
$blue_lightest: #ecfdfd;
$blue_more_lighter: #c5f9fa;
$blue_lighter: #9ef5f6;
$blue_light: #77f1f3;
$blue: #50ecef;
$blue_dark: #3dbbbd;
$blue_darker: #2a898a;
$blue_more_darker: #175758;
$blue_darkest: #032525;

/* yellow */
$yellow_lightest: #fdfde9;
$yellow_more_lighter: #f9fac3;
$yellow_lighter: #f5f69d;
$yellow_light: #f1f377;
$yellow: #ecef50;
$yellow_dark: #e7ea53;
$yellow_darker: #e2e555;
$yellow_more_darker: #d8da59;
$yellow_darkest: #c3c562;

/* Brown */
$brown: #472c29;

$deepChampagne: #f7d49e;
$linen: #f6eadd;
$bananaMania: #fde6b6;
$oasis: #feeecb;
