$black: #17202a;
$black_a05: #17202a80;
$gray: rgba(56, 56, 56, 0.5);
$gray_hover: rgba(118, 118, 118, 0.5);
$white: #fdfefe;
$white_hover: #edeeee;
$white_a05: rgba(253, 254, 254, 0.5);
$green: #28b463;
$blue: #3498db;

$red_700: #c27574;
$red_bg_soft: #fffdfd;
$red_bg_hard: #f9ebea;
$red_wine_soft: #C57F7F;
$red_wine_hard: #8b0000;

$extra-large-image-size: 4.8rem;
$large-image-size: 4rem;
$medium-image-size: 3.2rem;
$small-image-size: 2.4rem;
$extra-small-image-size: 1.6rem;

/* Reds */
$red_lightest: #FDEEEE;
$red_more_lighter: #F6A19F;
$red_lighter: #F37A78;
$red_light: #F16764;
$red: #EF5350;
$red_dark: #E5504D;
$red_darker: #DA4C49;
$red_more_darker: #C44442;
$red_darkest: #983533;

/* Purple */
$purple_lightest: #F2E6FD;
$purple_more_lighter: #DEC1FA;
$purple_lighter: #CB9BF6;
$purple_light: #B776F3;
$purple: #A350EF;
$purple_dark: #863EC8;
$purple_darker: #692CA2;
$purple_more_darker: #4C1A7B;
$purple_darkest: #2F0854;

/* blue */
$blue_lightest: #ECFDFD;
$blue_more_lighter: #C5F9FA;
$blue_lighter: #9EF5F6;
$blue_light: #77F1F3;
$blue: #50ECEF;
$blue_dark: #3DBBBD;
$blue_darker: #2A898A;
$blue_more_darker: #175758;
$blue_darkest: #032525;

/* yellow */
$yellow_lightest: #FDFDE9;
$yellow_more_lighter: #F9FAC3;
$yellow_lighter: #F5F69D;
$yellow_light: #F1F377;
$yellow: #ECEF50;
$yellow_dark: #E7EA53;
$yellow_darker: #E2E555;
$yellow_more_darker: #D8DA59;
$yellow_darkest: #C3C562;
