html,
body {
  font-size: 1.6rem;
  font-family: "sarabun";
  margin: 0;
  padding: 0
  background-color: #fdfefe;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  overflow-x: hidden;
  position: relative;
}

body {
  
}

