.container {
  height: 100%;
}

.Home {
  display: grid;
  grid-template-rows: 4fr 1fr;
  height: 100%;
  width: 100%;

  .Home__Body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .Home__Buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.8rem;

    & > * {
      margin: 0 1.2rem;
    }
  }
}
