@import "../../../scss/colors";

.Instructions{
    height: 100%;
    width: 100%;
    justify-items: center;

    .Instructions__Body{
        height: 100%;
        justify-items: center;
        display: grid;
        grid-template-rows: 2fr 1fr 2fr 15fr 5fr;
    
        .Instructions__Body__Title{
            color: $oldBurgundy-900;
            font-size: 2.8rem;
            margin: 0; 
            margin-top: 1.2rem;
            text-align: center;
        }

        .Instructions__Body__Subtitle{
            color: $oldBurgundy-700;
            font-size: 2rem;
            margin: 0;
            text-align: center;
        }
    
        .Instructions__Body__Stepper{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    
        .Instructions__Body__Instruction{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: auto;

            img{
                height: 65vh;
                width: auto;

                &:hover{
                    cursor: not-allowed;
                }
            }
        }

        .Instructions__Buttons{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            padding: 1.2rem;
            button{
                all: unset;
                margin: 0.6rem; 
                font-size: 1.4rem;
            }
        
            .Instructions__Buttons__Close{
                display: flex;
                flex-direction: column;
    
                button{
                    color: $oldBurgundy-500;
    
                    &:hover{
                        color: $oldBurgundy-600;
                        text-decoration: underline;
                    }
        
                    &:active{
                        color: $oldBurgundy-700;
                        text-decoration: underline;
                    }
                }
            }
    
            .Instructions__Buttons__Next{
                height: 3.6rem;
                border-radius: 1.8rem;
                padding: 0 2.4rem;
                background-color: $red;
                color: $white;
                vertical-align: center;
    
                &:hover{
                    background-color: $red_dark;
                }

                &:active{
                    background-color: $red_darker;
                }
            }

            .Instructions__Buttons__End{
                height: 3.6rem;
                border-radius: 1.8rem;
                padding: 0 2.4rem;
                background-color: $deepChampagne-500;
                color: $oldBurgundy-500;
                vertical-align: center;
    
                &:hover{
                    color: $oldBurgundy-500;
                    background-color: $deepChampagne-600;
                }
    
                &:active{
                    color: $oldBurgundy-500;
                    background-color: $deepChampagne-700;
                }
            }
        }
    }

    
}


